{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}

<div class="container-sm text-center" style="color: #FFFFFF; width: 85%; margin-top: 2vh">
    <!-- login card-->
    <div class="card rounded-lg" style="background-color:#5200cc; border-radius: 25px;">
        <!-- card header-->
        <div class="card-body ">
            <h3>Search History For {{ current_user.firstName }}</h3>
        </div>
        <!-- card body-->
        <div class="card-body">
            <!-- list of products-->
            <div class="card rounded-lg" id="divListOfProducts" style="background-color:#ffffff; border-radius: 25px;">
                <div id="ListOfProducts" class="card-body" style="color:#000000;">
                    {% if history_data %}
                    <form id="search-history-form" method="GET">
                    <ul class="list-group">
                        {% for product_history in history_data %}
                        <li class="list-group-item">
                            <div class="container">
                            <div class="row">
                            <div class="col">
                                {% for product in product_history['products_list'] %}
                                    <a class="link-primary" href="{{product['product_url']}}">{{ product['product_name'] }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-auto align-middle">
                                <button class="btn btn-danger" type="submit" name="history-btn" value="{{ product_history['history_id'] }}">Delete</button>
                                <div class="w-100"></div>
                                <small>Tue, 10 Jan 2023 22:01:41 </small>
                            </div>
                        </div>
                        </div>
                        </li>
                        {% endfor %}
                    </ul>
                </form>
                    {% else %}
                    <strong style="color: #5200cc;">( Empty )</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}