{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your search overview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="progresbarDiv" style="width:100%;">
                    <div id="progressbar" style="width:0%; background-color:green; height:10px"></div>
                </div>
                <div>
                    <table id="modalSearchOverviewTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Search Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="modalSearchBtn">
                    <button type="button" class="btn btn-success
                    mt-2" onclick="sendProducts();" style="width: 100%">Search</button>
                </div>
                <div id="modalResultsBtn" style="display: none; text-align: center;">
                    <button type="button" class="btn btn-success
                    mt-2" onclick="goToResults();" style="width: 100%">Show Results</button>
                    <h5 style="display: inline;">Your search took: <h5 style="display: inline;" id="timeSummar"></h5></h5>
                </div>

                <div id="modalSearchText" style="display: none; width: 100%">
                    Searching...
                    <p id="timer" style="display: inline; float: right;"></p>
                </div>

                <div id="modalPartialResultsBtn" style="display: none;">
                    <button type="button" class="btn btn-success
                    mt-2" onclick="ensurePartialResults();" style="width: 100%">Show partial results</button>
                </div>

                <div id="ensureDiv" style="display: none; width: 100%">
                    <b>Are you sure You want to see only partial results?</b>
                    <button type="button" class="btn btn-success
                    mt-2" onclick="goToResults();" style="display: inline; " id="ensurePositive">Go to results page</button>
                    <button type="button" class="btn btn-danger
                    mt-2" onclick="negativeEnsure();" style="display: inline; " id="ensureNegative">Continue searching</button>
                </div>


            </div>

            <!---
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
            </div>
            -->
        </div>
    </div>
</div>


<div class="container-sm text-center" style="color: #FFFFFF; width: 85%; margin-top: 2vh">

    <!-- login card-->
    <div class="card rounded-lg" style="background-color:#5200cc; border-radius: 25px;">

        <!-- card header-->
        <div class="card-body ">
            {% if current_user.is_authenticated %}
            <b> CenAll </b>
            <h4 class="card-title">Hello {{ current_user.firstName }}, we are happy to see You!</h4>
            {% else %}
            <h4 class="card-title">Good luck searching!</h4>
            {% endif %}
        </div>


        <!-- card body-->
        <div class="card-body">
            <!-- Button trigger modal -->
            <button id="trigerProgresBar" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" style="display:none">
            </button>
            <form>
                <!-- check boxes-->
                <h6 style="display: inline">Please, select the source of Your search:</h6>
                <!-- Allegro-->
                <div style="display: inline; margin-left: 20px">
                    <input class="form-check-input" type="checkbox" id="AllegroCheckbox" value="Allegro">
                    <label class="form-check-label" for="AllegroCheckbox">Allegro</label>
                </div>
                <!-- Ceneo-->
                <div style="display: inline; margin-left: 20px">
                    <input class="form-check-input" type="checkbox" id="CeneoCheckbox" value="Ceneo" checked>
                    <label class="form-check-label" for="CeneoCheckbox">Ceneo</label>
                </div>
                <!-- Search input + add button + quantity form + read from file -->
                <div class="mb-3 row">
                    <div class="col-8">
                        <input type="text" class="form-control mt-2" id="SearchInput" aria-describedby="SearchHelp">
                    </div>
                    <div class="col-auto mt-2">

                        <div class="input-group" style="max-width: 127px;">
                            <button id="minusButtonMain" class="btn btn-danger" type="button" style="display:inline" onclick="return minusBtn(this);" >-</button>
                            <input id="amountMain" type="text" class="form-control" value="1" min="1" max="10"
                                style="display:inline; max-width: 45px;" onchange="return validateAmount(this);">
                            <button id="plusButtonMain" class="btn btn-success" type="button" style="display:inline" onclick="return plusBtn(this);" >+</button>
                        </div>

                    </div>
                    <div class="col-auto">
                        <button type="button" id="AddButton" class="btn btn-primary mt-2"
                            onclick="addProduct()">Add</button>
                    </div>
                    <div class="col-auto">
                        <form>
                            <input type="file" id="addFromFileInput" accept="text/plain" style="display: none;"
                                onchange="return readFromFile(event);"></input>
                            <button type="button" id="addFromFileButton" class="btn btn-primary mt-2"
                                onclick="document.getElementById('addFromFileInput').click()">From File</button>
                        </form>
                    </div>

                </div>
                <div id="SearchHelp" class="form-text" style="color: white;"></div>

            </form>

            <!-- list of products-->
            <div class="card rounded-lg" id="divListOfProducts" style="background-color:#ffffff; border-radius: 25px;">
                <div id="ListOfProducts" class="card-body" style="color:#000000;">

                </div>
            </div>

            <!-- submit button-->
            <div class="container" style="display:inline">
                <button type="button" id="SubmitBtn" class="btn btn-success mt-2" onclick="showModal();">Submit</button>
            </div>
        </div>

        <div style="height: 15px;" class="card-footer"></div>

    </div>

</div>

<script src="../static/js/home_scripts.js"></script>

{% endblock %}