{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


    <div class="container-sm text-center" style="color: #FFFFFF; width: 50%; margin-top: 13vh">

        <!-- login card-->
        <div class="card rounded-lg" style="background-color:#5200cc; border-radius: 25px;">

            <!-- card header-->
            <div class="card-body ">
                <h4 class="card-title">Log in!</h4>
            </div>


            <!-- card body-->
            <div class="card-body">

                <!-- login form-->
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">

                        <div class="form-group mb-3">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-check mb-3">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </fieldset>
                    <div class="form-group mb-3">
                        {{ form.submit(class="btn btn-outline-info") }}

                        <small class="text-muted ml-2">
                            <a href="{{ url_for('auth.reset_request') }}">Forgot Password?</a>
                        </small>
                    </div>

                </form>

            </div>

            <div class="card-footer">
                Need An Account? <a class="ml-2" href="{{ url_for('auth.signup') }}">Sign Up Now</a>
            </div>

        </div>

    </div>

{% endblock %}